

div.gallery {
  margin: 10px;
  text-align: center;
  width: 180px;
  float: left;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 10px;
  font-size: 1.3em;
  color: goldenrod;
}



img.pr{
	width: 90%;
}

.clearfix{
	overflow: auto;
}

div.m li{
	list-style-type:none ;
	font-weight: bold;
	padding: 10px;
	
}
body{
	color: "#309d20";
	
	background-color: rgb(0,0,0,0.1);
}


table {
  border-collapse: collapse;
  width: 100%;
  

}
th{
	color: goldenrod;
}
td{
	color: white;
}


th, td {
  padding: 8px;
  text-align: left;
  
}


h2, h3{
	font-weight: bold;
	color: midnightblue ;
	font-size: 1.5em
}


#b{
	color: midnightblue;
	float: left;
	font-size: 1.3em;

}
li.foot{
	color: white;
}


header, footer{
	background-image: url(image_css/p2.jpg);
}









