.display-medium{
	display:inherit !important;
}


body{
	font-family: Georgia;
	font-size: 12px; 
}


ul.display-medium{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  font-family: Arial;
  font-size: 1.1em;
  font-weight: bold;
  
}
h1.display-medium {
color :goldenrod;
font-size: 3em;
display: inline;

}

header,footer, #wrapper{
	margin-left: : auto;
	margin-right: auto;
	clear: both;
	width: 100%; 
	max-width: 1500px;
	background-color: rgb(255,255,255,1.2);
}



ul.display-medium{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 6px;
  text-decoration: none;
  float: left;
}

li a:hover {
  background-color: #111;
}


.active {
  background-color: goldenrod;
}